<div class="row">
    <img class="col-md-5 col-sm-10 offset-1" src="https://assets3.thrillist.com/v1/image/2706821/size/gn-gift_guide_variable_c_2x.jpg">
    <div class="col-md-5 col-sm-10 offset-1">
        <h3>Stockholm - Sweden</h3>
    </div>
    
</div>
<div class="row">
    <div class="col-md-5 col-sm-10 offset-1">
        <h3>Tokyo (Akihabara) - Japan</h3>
    </div>
    <img class="col-md-5 col-sm-10 offset-1" src="https://gaijinpot.scdn3.secure.raxcdn.com/app/uploads/sites/6/2016/07/Akihabara.jpg">
</div>
<div class="row">
    <img class="col-md-5 col-sm-10 offset-1" src="https://assets3.thrillist.com/v1/image/2706821/size/gn-gift_guide_variable_c_2x.jpg">
    <div class="col-md-5 col-sm-10 offset-1">
        <h3>Stockholm - Sweden</h3>
    </div>
</div>
<div class="row">
    <div class="col-md-5 col-sm-10 offset-1">
        <h3>Stockholm - Sweden</h3>
    </div>
    <img class="col-md-5 col-sm-10 offset-1" src="https://assets3.thrillist.com/v1/image/2706821/size/gn-gift_guide_variable_c_2x.jpg">
</div>
<div class="row">
    <img class="col-md-5 col-sm-10 offset-1" src="https://assets3.thrillist.com/v1/image/2706821/size/gn-gift_guide_variable_c_2x.jpg">
    <div class="col-md-5 col-sm-10 offset-1">
        <h3>Stockholm - Sweden</h3>
    </div>
</div>
<div class="row">
    <div class="col-md-5 col-sm-10 offset-1">
        <h3>Stockholm - Sweden</h3>
    </div>
    <img class="col-md-5 col-sm-10 offset-1" src="https://assets3.thrillist.com/v1/image/2706821/size/gn-gift_guide_variable_c_2x.jpg">
</div>
<div class="row">
    <img class="col-md-5 col-sm-10 offset-1" src="https://assets3.thrillist.com/v1/image/2706821/size/gn-gift_guide_variable_c_2x.jpg">
    <div class="col-md-5 col-sm-10 offset-1">
        <h3>Stockholm - Sweden</h3>
    </div>
</div>
<div class="row">
    <div class="col-md-5 col-sm-10 offset-1">
        <h3>Stockholm - Sweden</h3>
    </div>
    <img class="col-md-5 col-sm-10 offset-1" src="https://assets3.thrillist.com/v1/image/2706821/size/gn-gift_guide_variable_c_2x.jpg">
</div>