/* You can add global styles to this file, and also import other style files */
body{
    background-color: lightblue;
}
.container {
    background-color: lightcyan;
    box-shadow: 0 0 10px grey;
    padding-bottom: 10px
}